<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
     {{ message }}
  </h1>
<!--<div app-test>
</div >
<div app-test2>
</div>
<div app-style-binding></div></div>
<app-event-binding></app-event-binding>
<app-two-way-binding></app-two-way-binding>
<app-reference-variable></app-reference-variable>
<app-ngif></app-ngif>
<app-ngswitch></app-ngswitch>
<app-ngfor></app-ngfor> 

<app-component-interaction (childEvent)="message=$event" [parentData]="name"></app-component-interaction>
<app-pipes></app-pipes>//-->
<app-services></app-services>
<!--<div *ngFor = "let emp of employeeDetails; index as i;">
  <h2> {{i+1 + "."}} {{emp}} {{data}} </h2>
  </div> //-->

<router-outlet></router-outlet>
